/* Base 스타일 작성 */
* {
  box-sizing: border-box;
}

:root {
  /* Font size */
  --font-large: 32px;
  --font-medium: 28px;
  --font-regular: 24px;
  --font-small: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Noto Sans Korean 설정 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  --title--medium--24: 24px;
  --title--medium--16: 16px;
}
